@{
    ViewBag.Title = "Info Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="infodetailsdiv">
    <div class="info-details-partial">
        @{
            Html.RenderPartial("_InfoDetailsPartial");
        }
    </div>
    <div class="container edit-info-div">
        <button type="button" class="btn btn-sm btn-success pull-right" onclick="getInfo()">Edit Information</button>
    </div>
</div>


<div class="modal fade" role="dialog" id="infoModal" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="infomodalBody">

        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        function getInfo() {
            $.get("/Info/GetInfoPartial", function (res) {
                $("#infomodalBody").html(res);
                $("#infoModal").modal('show');
            })
        }

        function createOrUpdate() {
            var modal = $("#infoModal");
            var form = $('form[name="infoForm"]');

            form.validate();
            if (!form.valid()) {
                return;
            } else {
                var data = form.serialize();
                $.post("/Info/CreateOrUpdateInfo", data, function (res) {
                    if (res) {
                        modal.modal('hide');
                    }
                    $(".info-details-partial").load('/Info/RefreshInfoPartial');
                });
            }
        }

    </script>
}