<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" , initial-scale=1>
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/styles/styles.css" rel="stylesheet" />
    <style>

    </style>
</head>
<body class="d-flex flex-column min-vh-100" style="padding-top: 70px;">
    <div class="container body-content wrapper flex-grow-1">
        @RenderBody()

        <footer class="mt-auto">
            <hr />
            <p>&copy; @DateTime.Now.Year - MVC Login App by Hugo Dorfling </p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
